
*{
  margin: 0;
  padding: 0;

}

body {
  height: 1000px;
  background-color: lightcyan;

}

a {
    color: black;
    text-decoration: none;
}

html, header, footer, input, #logo, button, table {
    border: 3px black solid;
}

header{
    height: auto;
    /*background-color:rgb(100, 149, 237);*/
    background: linear-gradient(rgb(100, 149, 237), pink);
    padding-top: 1%;
    padding-bottom: 3%;
}

h1{
    text-align: center;
}

.groupeHeader {
  display: flex;
  justify-content: space-around;
}

.fa-arrow-left,.fa-arrow-right,.fa-xmark,.fa-home {
  font-size: 30px;
}

.bordarrondi {
   border-radius: 10px;
}

.groupeLogo {
  display: flex;
  justify-content: space-between;
}

#logo, h2, nav {
    margin-top: 3%;
    margin-bottom: 20px;
}

#logo {
  margin-left: 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

button {
  margin: 20px;
  padding: 10px 30px 10px 30px;
  box-shadow: 6px 6px 0px rgba(0, 0, 0);
  
}

.affichage {
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
}

.affichage p {
  padding: 15px;
}

.apprenants {
  margin-left: 20px;
}

.scroller {
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: white black;
  scrollbar-width: thin;
}

table {
  width: 60%;
  margin-left: 20px;
  
}

footer {
    height: auto;
    background: linear-gradient(rgb(100, 149, 237), pink);
    /*background-color: rgb(100, 149, 237);*/
    padding-top: 1%;
    padding-bottom: 3%;
    margin-top: 50px;
}

/*pour positionner footer bas de la page*/
footer {
  position:fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/*PAGE INFORMATIONS*/

.centrer {
    text-align: center;
    margin: 20px;
}
.infos {
    margin-bottom: 20px;
}
.date {
    margin-bottom: 10px;
}
.nombre {
    margin-bottom: 20px;
}

.description, .liensutiles {
    border: 3px black solid;
    padding: 30px 60px 30px 60px;
}

.descriptionEtLiens {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  
}

.liensutiles, #liensutiles {
  margin-left: 30px;
}


/*PAGE PREFERENCES*/

.theme {
  padding-right: 100px;
  
}
.format {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.espace {
  padding: 20px;
}

.boutonpreferences {
  display: flex;
  justify-content: center;
}

/*PAGE ACCUEIL AVEC CARTES*/

.box {
  height: 150px;
  border: 3px solid black ;
  border-radius: 15px ;
  text-align: center;
}

.detail{
  border: 3px black solid;
  margin: 20px;
  padding: 10px 30px 10px 30px;
  box-shadow: 6px 6px 0px rgba(0, 0, 0);
}

.marge {
  margin-left: 100px;
}

.conteneur {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    gap:20px;
    justify-content: center;
}
/*PAGE MAP*/

#map {
  border: 1px solid black;
  height: 400px;
}


.map{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*MEDIA QUERIES*/

/*
.container {
	display: flex;
}*/
/* smartphone et tablettes */
@media only screen and (min-width: 320px) and (max-width: 991px) {
	.container {
		flex-direction: column;
	}

/*PAGE ACCUEIL*/

body {
  height: auto;
}

.groupeHeader {
  display: block;
  margin: 10px;
}

.fa-arrow-left,.fa-arrow-right,.fa-xmark,.fa-home {
  font-size: 20px;
}

.url {
  width: 90%;
}
.recherche {
  margin-top: 10px;
}
.groupeLogo {
  flex-direction: column;
}

h2 {
  text-align: center;
}

nav {
  display: block;
}

table{
  width: 90%;
}

footer {
  position: initial;
}

/*PAGE PREFERENCES*/

.espace {
  padding-bottom: 0;
}

/*PAGE CARTE MAP*/

/*PAGE INFORMATIONS*/

.descriptionEtLiens {
  flex-direction: column;
}

#liensutiles, .liensutiles {
  margin-left: 0;
}

.centrer {
  margin-top: 0;
}

/*PAGE ACCUEIL AVEC CARTES*/

.conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  width: 50%;
}



}


